html, body {
    background-color: #eee;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}
.wrapper {
    width: 100%;
    margin: 50px ;
    position: relative;
}

.leftcolumn, .rightcolumn {
    min-height: auto;

}
.leftcolumn {
    width: 350px;
    min-height: 100px;
    position: fixed;
}
.rightcolumn {
    margin-left: 350px;
    float: left;
}


.full-height {
    height: 100vh;
}

.title {
    font-size: 84px;
}

/*     LINKS    */
.links > a {
    color: #000000;
    padding: 0 15px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
a:hover, a:active {
   color: #ffffff;
}

/*    POSITION   */
.content {
    text-align: center;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.main-center{
    width: auto;
    display: table;
    margin:  auto;
}
.margin-left{
    margin-left: 10px;
}
.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}
.top-margin-hard{
    margin-top: 20px;
}

.m-b-md {
    margin-bottom: 30px;
}
.vrticalSpace{
    margin-top: 50px;
}
/*.ground{
    position:absolute;
    width:300px;
    height:20px;
    margin-left:-150px;
    bottom:0px;
    left:50%;

}*/

.ground{
   margin-bottom: 15px;

}
.align-right{
    float: right;
}
.align-left{
    float: left;
}
.right-margin{
    margin-right: 20px;
}
/*     BUTTON    */

.buttonViwe{
    /*background-color: #948752;*/
    background-color: white;
    color: black;
    border: 2px solid black; /* Green */
    border-radius: 4px;
    color: black;
    padding: 5px 16px;
    text-align: center;
    text-decoration: none;
    /*display: inline-block;*/
    /*margin-top: 50px;*/
    font-size: 16px;

}


/*    SELECT   */

.select-style {
    border: 1px solid #ccc;
    width: 80px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-style select:focus {
    outline: none;
}


/*      IMAGE     */

.imageConstruct {
    float: left;
    /*border-radius: 4px;*/
    height: 150px;
    width: 150px;
}
.imagePost {
    float: left;
    /*border-radius: 4px;*/
    height: 70px;
    width: 70px;
}
.imageGallery{
    padding: 10px;
    height: 150px;
    width: 150px;

}

img:hover {
    box-shadow: 0 0 3px 1px rgba(220, 160, 200, 0.5);
}
.top-menu{
    z-index: 1;
    background-color: #708090;
    position: fixed;
    width: 100%;
    top: 0;
    display: inline-block;
    height: 30px;


}
.menu{
    width: 930px;

}
.top-margin{
    margin-top: 5px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

#input-field
{
    /*position: fixed;*/
    float: right;
    width: 100px;
    height: 20px;
    /*margin-top: 3px;*/
    margin-right: 5px;
    /*margin-left: 150px;*/
    text-align: left;
    -webkit-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
    border: none;
    background-color: #fff;

}
#input-field:focus {
    /*background-color: #eee;*/
    width: 250px;
}

.user-block{
    /*right: 50%;*/
    /*left: 50%;*/
    /*margin-top: 20px;*/
    /*margin-left: 20px;*/
    width: 300px;
    /*background-image: url("../img/bg02.png");*/

}

.container {
    /*padding: 10px;*/
    
    
    /*background-image: url("../img/bg02.png");*/
    background: #8899aa;
    /*border: 1px solid #aaaaaa;*/
}
.floatbox {
    float: left;
    width: 120px;
    margin-top: 5px;
    /*margin-right: 5px;*/
    padding: 0 15px;

}
.post-box{
    /*padding: 10px;*/
    background: #8899aa;
    /*border: 1px solid #aaaaaa;*/
}
.post-lable{
    float: left;
    width: 80%;
    margin-top: 10px;
    /*margin-right: 5px;*/
    padding: 0 15px;
}
.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.post {
    /*margin-top: 15px;*/
    /*margin-left: 30%;*/

    width: 700px;
}
.text-box {
    color: #003344;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    /*text-transform: uppercase;*/
}

.box-margin {
    margin-bottom: 30px;
}

.text-box:hover {
    color: #ffffff;
}
.R_block{
    /*position: absolute;*/
    padding: 5px;
    width: auto;
    height: auto;
    display: block;
    background: #8899aa;
    bottom: 0;
}
.post-content{
    padding: 5px;
    display: block;
    width: auto;
    background-color: #fff;
}
.text-regular{
    color: #003344;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;

}

.gallery-block{
    /*padding: 15px;*/
    width: 700px;
    /*height: 30px;*/
    display: block;
    background: #8899aa;
    /*bottom: 0;*/

}


.modal-content {
    z-index: 1;

    /*margin: auto;*/
    /*background-color: #fff;*/
    /*position: fixed;*/
    /*display: block;*/


}
    

.gallery-zoom{
    z-index: 1;
    /*position: fixed;*/
    height: 700px;
    width: auto;

    /*display: block;*/
    /*margin-right: 50%;*/
    margin-left: 40%;
    /*margin-bottom: 60%;*/
    /*margin-top: 50%;*/

    /*width: 1000px;*/
    /*height: 1000px;*/
    
}


.avatarEdit{
    display: block;
    background-color: #8899aa;
}

.feel {
    height: auto;
}
.pading-5{
    padding: 5px;
}


.textarea {
  resize: none;
  width: 500px;
  height: 70px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-height: 70px;
  max-width: : 500px;
  overflow: hidden;
  /*border-left: 2px solid #d2bf94;*/
  padding: 10px 20px;
  /*color: #888;*/
  /*background-color: #eee;*/
  -moz-transition: color 1s, background-color 1s;
  -webkit-transition: color 1s, background-color 1s;
  -o-transition: color 1s, background-color 1s;
  transition: color 1s, background-color 1s; }
.textarea:focus {
    max-width: 500px;  
    max-height: 600px;   
    width: 500px;  
    height: 500px;  
    min-width: 500px;  
    min-height: 100px; 
    resize: both;
    overflow: auto;
    outline: none;
    /*padding: 0;*/
    /*max-height: 100%;*/
    color: #000;
    background-color: #fff; 
}


.comment_s{
    resize: none;
  width: 500px;
  height: 70px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-height: 70px;
  max-width: : 500px;
  overflow: hidden;
  padding: 5px;
  -moz-transition: color 1s, background-color 1s;
  -webkit-transition: color 1s, background-color 1s;
  -o-transition: color 1s, background-color 1s;
  transition: color 1s, background-color 1s;
}
.comment_s:focus{
    max-width: 500px;  
    max-height: 120px;   
    width: 500px;  
    height: 120px;  
    min-width: 500px;  
    min-height: 100px; 
    resize: both;
    overflow: auto;
    outline: none;
    color: #000;
    background-color: #fff; 
}



.comment_pa{
    width: 600px;
    height: 60px;
    display: block;
    background-color: #fff;
    padding: 5px;
    margin-left: 80px;

}